.login {
  min-width: 200px;
  width: 30%;
  margin: auto;
  box-shadow: 2px 2px 4px;
  padding: 15px;
  background: white;
  border-radius: 5px;
  max-width: 500px;
}

.login-button, .dont-have-account-link {
  text-align: center;
  cursor: pointer;
  color: rgb(0, 153, 255);
}

.login-button, .dont-have-account-link:hover {
  text-decoration: underline;
}